.loginContainer{  
  display: flex;
  flex-direction: column;

  margin-top: 50px;
  margin-bottom: 100px;
  gap: 5px;
}

.loginTitle{
  text-align: center;
}

.loginButton{
  width: 80px;
  height: 30px;
  margin-top: 20px;

  border: 1px solid #9b9a9a;
  border-radius: 15px;
  background-color: transparent;  

  align-self: center;
}