.container{
  display: flex;
  flex-direction: column;
  flex-grow: 20;
  
  width:  100%;
  min-width: 900px;
  max-width: 1000px;
  margin-left: 40px;
  margin-right: 40px;;

  align-items: center;  

  overflow: hidden;
}